/* =============================================================================
  HTML5 element display
========================================================================== */
article, aside, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
  Reset
========================================================================== */
html {height: 100%;}
body {
    height: 100%; 
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
	background: url(../img/background_pattern.png);
    background-repeat: repeat;
}

body, html, div, p, span, 
h1, h2, h3, h4, h5, h6, 
table, td, tr, th, 
ul, ol, li, dl, dt, dd, 
form, input, fieldset, label, legend, select, textarea,
a, img, pre {
    margin: 0;
    padding: 0;
    border: 0;
}

/* =============================================================================
  Common fonts
========================================================================== */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    *zoom: 1;
}


* html .clearfix {
    height: 1%;
}

#wrapper {
    zoom: 1;
    width: 1100px; 
    margin: 0 auto;
    padding-bottom: 53px;
     
}
.btn {
    text-decoration: none;
    display: block;
    font-family: 'Muli';
    color: #ffffff;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5); 
    text-align: center;
    float: right;
    
}
a {
    text-decoration: none;
}

/* =============================================================================
  Logo & nav-bar
========================================================================== */
#header{
    padding: 20px 0 20px 51px;
}
#header .left{
    float: left;
    width: 794px;
}
#branding{
    width: 205px;
    height: 61px;
    float: left;
}
nav{
    margin-top: 30px;
    text-align: right;
}

nav a{
    color: #5c5b5b;
    font-family: 'Muli';
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(221, 221, 221, 0.75);
    padding: 0 14px; 
}

nav a:hover, 
nav .active {
    color: #b1b1b1;
    opacity: 1; 
}

nav .active{
    background-color: #c34b1f;
    color: #ffffff;
    padding: 5px;
}

.btn-join {
    display: inline-block;
    font-size: 18px;
    background: #2475ad; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0NzVhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjQ3NWFkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDhhYzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #2475ad 0%, #2475ad 0%, #207cca 100%, #208ac7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2475ad), color-stop(0%,#2475ad), color-stop(100%,#207cca), color-stop(100%,#208ac7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2475ad 0%,#2475ad 0%,#207cca 100%,#208ac7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2475ad 0%,#2475ad 0%,#207cca 100%,#208ac7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2475ad 0%,#2475ad 0%,#207cca 100%,#208ac7 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2475ad 0%,#2475ad 0%,#207cca 100%,#208ac7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2475ad', endColorstr='#208ac7',GradientType=0 ); /* IE6-8 */
    margin-top: 23px;
    padding: 6px 30px;
}

.gt-ie8 .btn {
    filter: none;
}
.right{
    float: right;
}

/* =============================================================================
  Content
========================================================================== */

.content {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 11px 48px 19px 51px;
    position: relative;
}
.content .icon {
    display: inline-block;
    width: 21px;
    height: 22px;
    line-height: 22px;
    background-image: url(../img/social-sprite.png);
    margin-right: 6px;
}

.content .icon.icon-google {
    background-position: 0 0;
}

.content .icon.icon-pinterest {
    background-position: -21px 0;
}

.content .icon.icon-facebook {
    background-position: -42px 0;
}

.content .icon.icon-twitter {
    background-position: -63px 0;
}
.social-icons {
    line-height: 30px;
    text-align: right;
}
.ie7 .social-icons {
    padding-bottom: 13px;
}

.content  a:hover .icon {
    opacity: 0.5; 
}

#banner {
    width: 1001px;
    height: 494px;
    position: relative;
}
.slider { 
    width: 1001px;
    height: 494px;
    overflow: hidden;
    /* IE 7 Fix for overflow hidden with relative content */
    position: relative;
}
.slider-content {
    position: relative;
}
.slider-content li {
    list-style-type: none;
    float: left;
    display: block;
}
.banner-buttons {
    width: 168px;
    height: 95px;
    background: url("../img/banner-buttons.png") no-repeat;
    position: absolute;
    top: 30px;
    right: -13px;
}
.banner-buttons-circle {
    position: absolute;
    bottom: 28px;
    right: 38px;
    
}
.banner-buttons-circle a {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 5;
}
.banner-buttons-circle a:hover,
.banner-buttons-circle .active{
    background-color: #2475ad;
}

.banner-buttons h3 {
    font-family: 'Rochester';
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 15px;
    left: 36px;
}
.banner-text {
    width: 422px;
    background: url("../img/banner-text2.png") repeat;
    color: #ffffff;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 39px;
    left: 17px;
    padding: 23px 23px 15px 15px;
}
.banner-text-plus {
    width: 55px;
    height: 47px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("../img/shape.png") no-repeat right bottom;
}
.banner-text h1 {
    font-family: 'Muli';
    font-size: 32px;
    border-bottom: 1px dashed;
}
.banner-text p {
    font-family: 'Quattrocento Sans';
    font-size: 14px;
    text-align: justify;
    padding: 16px 0 25px 0;
}
.banner-text a {
    font-family: 'Muli';
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
}
/* =============================================================================
  CTA
========================================================================== */
#cta{
    margin-bottom: 40px;
}
.box-info {
    width: 290px;
    background-color: #ffffff; 
    border: 1px solid #eaeae8;
    float: left;
    position: relative;
    padding: 19px 10px 52px;
    margin: 22px 0 0 32px;
}
.box-info:first-child {
    margin-left: 0;
}
.box-info h2 {
    font-family: 'Muli';
    font-size: 24px;
    color:#6b6969;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 2px solid #2475ad;
    padding-bottom: 5px;
}
.picture-box {
    width: 290px;
    height: 109px;
    overflow: hidden;
    margin: 24px 0 11px 0;
}
.picture-box img {
    width: 100%;
    height: auto;
}
.box-info p {
    font-family: 'Quattrocento Sans';
    font-size: 13px;
    line-height: 18px;
    color: #6b6969;
    margin: 0 6px 10px 0;
}
.box-info .btn-more {
    font-size: 13px;
    background: #c34b1f;
    position: absolute;
    bottom:14px;
    right: 12px;
    padding: 6px 20px;  
}

.box-bottom {
    width: 296px;
    height: 3px;
    background-color: #f7f7f6;
    border: 1px solid #eaeae8;
    border-top: none;
    position: absolute;
    bottom: -5px;
    left: 6px;
    border-top: none;
}
/* =============================================================================
  Featured Pros
========================================================================== */
#featured-pros { 
    background: url(../img/pattern-featured.png) repeat;
    position: relative;
    padding: 9px 18px 22px 30px;
    margin-bottom: 38px;
}
#featured-pros .arrow{
    display: inline-block;
    width: 23px;
    height: 35px;
    line-height: 22px;
    background-image: url(../img/arrowes-sprite.png);
    position: absolute;
    left: -88px;
    top: 70px;
}
#featured-pros .arrow.arrow-left{
    background-position: 0 0;
}
#featured-pros .arrow.arrow-right{
    background-position: -23px 0;
    left: auto;
    right: -88px;
}
#featured-pros .featured {
    border-bottom: 2px solid #2475ad;
}
#featured-pros h4 {
    font-family: 'Muli';
    font-size: 24px;
    color: #6b6969;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
    padding-bottom: 10px;  
}
#featured-pros .btn-featured {
    height: 27px;
    line-height: 25px;
    font-size: 16px;
    background: #98a408;
    padding: 0 12px;  
    margin-top: -39px;
      
}
#featured-pros .arrow-icon-btn{
    display: inline-block;
    width: 8px;
    height: 14px;
    background: url(../img/button-diam.png) no-repeat;
    vertical-align: middle;
    margin-left: 16px;
}
#featured-pros .slider-featured{
    height: 67px;
    overflow: hidden;
    /* IE 7 Fix for overflow hidden with relative content */
    position: relative;
    margin-top: 22px;
}
#featured-pros .slider-content{
    position: relative;
}

#featured-pros li{
    list-style-type: none;
    float: left;
    display: block;
}

#featured-pros .info {
    width: 215px;
    float: left;
    margin-left: 31px;
}
#featured-pros .info:first-child{
  margin-left: 0;
}
#featured-pros img {
    width: 77px; 
    height: 66px;
    float: left;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    margin-right: 16px;
}
#featured-pros h5 {
    font-family: 'Muli';
    font-size: 18px;
    line-height: 17px;
    color: #a20e0c;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
    margin-bottom: 5px;
}
#featured-pros p {
    font-family: 'Quattrocento Sans';
    font-size: 13px;
    color: #3a3a3a;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
    margin-top: 2px;
}
#featured-pros a {
    font-family: 'Quattrocento Sans';
    font-size: 13px;
    color: #3a3a3a;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
}
#featured-pros .arrow-icons{
    display: inline-block;
    width: 8px;
    height: 9px;
    background: url(../img/button-featured.png) no-repeat;
    vertical-align: middle;
    margin-left: 11px;
}
/* =============================================================================
  Designers
========================================================================== */
.designers-box {
    float: left;
    /*margin-left: 29px;*/
    border-left: 2px dashed #bcb8b8;
}
.designers-box:first-child {
    border-left: none;
}
.designers-box h4 {
    font-family: 'Rochester';
    font-size: 40px;
    color: #c34b1f;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
    text-align: center;
}
.designer-info {
    width: 304px;
    border-top: 2px dashed #bcb8b8;
    border-bottom: 2px dashed #bcb8b8;
    padding: 20px 15px 25px 12px;
}
.designer-info img {
    width: 140px;
    height: 141px;
    float: left;
    margin-right: 17px;
}
.designer-info h6 {
    font-family: 'Muli';
    font-size: 18px;
    line-height: 12px;
    color: #6b6969;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
    margin-bottom: 12px;
}
.designer-info p{
    font-family: 'Quattrocento Sans';
    font-size: 13px;
    line-height: 18px;
    color: #6b6969;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
}
.designer-info a { 
    font-family: 'Quattrocento Sans';
    font-size: 13px;
    color: #2475ad;
    font-weight: bold;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
}
.box-bottom1 {
    width: 1076px;
    height: 10px;
    background-color: #f7f7f6;
    border: 2px solid #eaeae8;
    border-top: none;
    position: absolute;
    bottom: -11px;
    left: 9px;
}
.box-bottom2 {
    width: 1061px;
    height: 6px;
    background-color: #f7f7f6;
    border: 2px solid #eaeae8;
    border-top: none;
    position: absolute;
    bottom: -18px;
    left: 15px;
}
/* =============================================================================
  Footer
========================================================================== */
#footer {
    width: 1020px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    font-family: 'Muli';
    font-size: 13px;
    color: #000000;
    text-shadow: 1px 0 1px rgba(255, 255, 255, 0.75);
    padding: 39px 29px 39px 51px;
    margin: 42px 0 53px 0;
}
#footer .copy-left{
    float: left;
}
#footer .right{
    float: right
}


